body {
  background-color: black;
  padding: 10px;
}

p {
  font-family: 'Nunito', monospace;
  letter-spacing: .5px;
  font-size: 90%;
}

h1, h2 {
  text-decoration: underline;
  text-decoration-color: #d0b5ff;
}

h1, h2 {
  font-family: 'Warnes', cursive;
  color: #cafbfc;
  letter-spacing: 2px;
  text-shadow: 0 0 3px #19f7ff, 0 0 5px #19f7ff;
}

div {
  border: solid 4px pink;
  box-shadow: 0 0 4px #ff1cd9, 0 0 6px #ff1cd9;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-size: 110%;
}

div img{
  border: solid 5px pink;
  border-radius: 5px;
  float: right;
  padding: 10px;
}

div#content {
  padding: 10px;
}

li {
  color: #d0b5ff;
}

a {
  color: #d0b5ff;
}
