nav#links {
  background-color: black;
  border: solid pink 5px;
  border-radius: 5px;
  text-align: center;
}

a {
  text-decoration: none;
  text-transform: lowercase;
  color: #dccafc;
  letter-spacing: 3px;
}

body {
  background-color: #f0e8ff;
}

div#content {
  padding: 25px;
}

aside#sidebar {
  display: inline-block;
  min-width: 300px;
  position: relative;
  right: 50px;
  left: 59%;
  border: solid 5px pink;
  border-radius: 5px;
  background-color: black;
  padding: 10px 25px 10px 25px;
  margin: 30px 20px 20px 0px;
  color: #dccafc;
  box-shadow: 3px 3px 5px #828282;
  line-height: 20px;
  letter-spacing: 1px;
}

nav#links {
  position: sticky;
  top: 0;
  }

div.text {
  display: inline-block;
  padding: 20px;
  color:#dccafc;
  margin: 20px;
  background-color: black;
  width: 200px;
  border:5px solid pink;
  border-radius:5px;
  box-shadow: 3px 3px 5px #828282;
  letter-spacing: 1px;
  line-height: 20px;
}

span {
  text-transform:lowercase;
  letter-spacing: 5px;
}

h1 {
  text-decoration: underline;
}

div.left {
  border: solid 4px pink;
  border-radius: 5px;
  background-color: black;
  float: left;
}

div.right {
  border: solid 4px pink;
  border-radius: 5px;
  background-color: black;
  float: right;
}
