nav#links {
  background-color: black;
  border: solid pink 5px;
  box-shadow: 0 0 4px #ff1cd9, 0 0 6px #ff1cd9;
  border-radius: 5px;
  text-align: center;
  position: sticky;
  top: 0px;
}

a {
  text-decoration: none;
  font-family: 'Warnes', cursive;
  color: #cafbfc;
  letter-spacing: 3px;
  text-shadow: 0 0 3px #19f7ff, 0 0 5px #19f7ff;
  animation: blinker 3s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}


body {
  background-color: black;
}

div {
  color: white;
}

h1 {
  text-decoration: underline;
}

h1, h2 {
  font-family: 'Warnes', cursive;
  color: #cafbfc;
  letter-spacing: 3px;
  text-shadow: 0 0 3px #19f7ff, 0 0 5px #19f7ff;
}

div.left {
  border: solid 4px pink;
  box-shadow: 0 0 4px #ff1cd9, 0 0 6px #ff1cd9;
  border-radius: 5px;
  background-color: black;
  float: left;
}

div.right {
  border: solid 4px pink;
  box-shadow: 0 0 4px #ff1cd9, 0 0 6px #ff1cd9;
  border-radius: 5px;
  background-color: black;
  float: right;
}
