nav#links {
  background-color: black;
  border: solid pink 5px;
  box-shadow: 0 0 4px #ff1cd9, 0 0 6px #ff1cd9;
  border-radius: 5px;
  text-align: center;
  position: sticky;
  top: 0px;
}

a {
  text-decoration: none;
  font-family: 'Warnes', cursive;
  color: #cafbfc;
  letter-spacing: 2px;
  text-shadow: 0 0 3px #19f7ff, 0 0 5px #19f7ff;
  animation: blinker 3s linear infinite;
}

body {
  background-color: black;
  padding: 10px;
}

p {
  font-family: 'Nunito', monospace;
  letter-spacing: .5px;
  font-size: 90%;
}

div {
  color: black;
}

h1 {
  text-decoration: underline;
  text-decoration-color: #d0b5ff;
}

h1 {
  font-family: 'Warnes', cursive;
  color: #cafbfc;
  letter-spacing: 2px;
  text-shadow: 0 0 3px #19f7ff, 0 0 5px #19f7ff;
}

h2 {
  font-family: 'Warnes', cursive;
  color: black;
  letter-spacing: 2px;
  text-shadow: 0 0 3px #19f7ff, 0 0 5px #19f7ff;
}

.block img {
  overflow: hidden;
  max-width: 100%;
}

.block {
  min-width: 170px;
  display: inline-block;
  max-width: 250px;
  padding: 10px 5px 0px 5px;
  text-align: center;
  align-content: center;
  align-items: center;
  align-self: center;
  margin: 0px auto 0px auto;
  }

  @media screen and (max-width:600px) {
  main, aside
  {width:100%;}
}

Main {
  border: solid 5px #cafbfc;
  flex: 70%;
  min-width: 450px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: pink;
  border-radius: 10px;
}

Section {
  border: solid 0px transparent;
  background-color: pink;
  flex: 46%;
  min-width: 190px;
  max-width: 300px;
  flex-grow: 1;
  padding: 10px;
  font-size: 140%;
}

.content {
  display: flex;
}

section img {
  max-width: 80%;
}
